# node dependencies
node_modules

# R build files
.Rhistory
# Book build output
build/
*.aux
*.log
*.fdb
*.fdb_latexmk
_bookdown_files

# eBook build output
#*.epub
#*.mobi
#*.pdf
# System files
.DS_Store
.Rproj.user
packrat/lib*/
packrat/src/

# editor backups
*~
